@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #111111;
  --color-primary: #3b82f6;
}

@utility bg-hero-glow {
  background-image: radial-gradient(
    circle at top, 
    rgba(59, 130, 246, 0.15) 0%, 
    transparent 60%
  );
}

:root {
  background-color: var(--color-background);
  color: white;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/* Custom Scrollbar agar terlihat pro */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}